
@{
    ViewBag.Title = "AddPerson";
}
    <div class="jumbotron">
        <h2 id="center">Форма добавления нового клиента</h2>
        <hr />
        <h3><a href="~/Home/StorApp">Книжный Магазин</a></h3>
        <h3><a href="~/Home/PersonList">Список клиентов</a></h3>
    </div>
<body>
    <div>
        <form method="post" action="">
            <table cellpadding="10" width="40%">
                <tr>
                    <td><p>Введите имя и фамилию нового покупателя:</p></td>
                    <td>
                        <input type="text" name="Name" />
                    </td>
                </tr>
                <tr>
                    <td><p>Введите адрес проживания:</p></td>
                    <td>
                        <input type="text" name="Address" />
                    </td>
                </tr>
                <tr>
                    <td><p>Введите дату рождения покупателя:</p></td>
                    <td>
                        <input type="DateTime" name="DateBorn" />
                    </td>
                </tr>
                <tr><td><input type="submit" value="Добавить человека в БД" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
