
@{
    ViewBag.Title = "PersonList";
}


    <div class="jumbotron">
        <h2 id="center">Список клиентов</h2>
        <hr />
        <h3><a href="~/Home/StorApp">Книжный Магазин</a></h3>
    </div>

@model IEnumerable<BookingAppStore.Models.Person>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <table cellpadding="10" width="100%">
        <tr class="header" bgcolor="fdbdbd">
            <td><p>Имя и Фамилия</p></td>
            <td><p>Дата рождения</p></td>
            <td><p>Адрес проживания</p></td>
            <td></td>
        </tr>
        @{int i = 0; }
        @foreach (BookingAppStore.Models.Person b in Model)
        {
            string ss = (i++ % 2 == 0) ? "dbe9b7" : "ebf2da";
            <tr bgcolor=@ss>
                <td><p>@b.Name</p></td>
                <td><p>@b.DateBorn</p></td>
                <td><p>@b.Address</p></td>
            </tr>
        }
    </table>
    
</div>
<table cellpadding="10" @*width="50%"*@ align="center">
    <tr>
        <td align="center">
            <h3  id="addBook"><a href="~/Home/AddPerson">Добавить нового человека в базу данных</a></h3>
        </td>
    </tr>
</table>